{% extends 'base.html.twig' %}
{% block head %}{% endblock  %}
{% block body %}
{% form_theme form _self  %}
<div class="jumbotron container spacer card col-md-4 col-md-offset-3 mt-4" id="form">
    <div class="row">
        <div class="panel-primary h1 text-center text-uppercase" id="i-head">Project<a href="{{path('adminviewproject')}}"><i class="fa-solid fa-list float-end text-white"></i></a></div>
        <div class="panel-body">
            <div class="form-group mt-3">
                {{ include ('data/data.html.twig', {form:form,button:('Enregistrer')} )}}    
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block _ad_posteurs_widget %}
    <div class="form-group">
        <div class="row">
            <div class="col">
                {{ form_widget (form) }}
            </div>
            <div class="form-body">
                <div class="form-group">
                    <button type="button" id="add-posteur" class=" form-group btn btn-outline-primary">+</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block _ad_posteurs_entry_widget %}
    <div class="form-group" id="block_{{id}}">
        <div class="row">
            <div class="col-10">
                <div class="row">
                    <div class="col-md-5">
                        {{form_widget(form.Photo)}}
                    </div>
                    <div class="col">
                        {{form_widget(form.Caption)}}
                    </div>
                </div>
            </div>
            <div class="col-1">
                <button type="button" class="btn btn-danger" data-action="delete" data-target="#block_{{id}}">X</button>
            </div>
        </div>
    </div>
{% endblock %}