{% extends 'base.html.twig' %}
{% block title %}
    {# {{dump(onedev.title)}} #}
    {{onedev.title|upper}} {{onedev.version}}
{% endblock %}
{% block body %}
<div class="one-dev" style="background-image: url( /img/dev/{{ onedev.fichiers }} )">
    <div class="container">
        <h1>{{onedev.Title|upper}}</h1>
        <p class"h2">{{onedev.version}}</p>
        <a href="{{path('viewproject')}}" class="btn btn-primary">{{'Retour'}}</a>
    </div>
</div>
<div class="container mt-3 text-body">
    <div class=" container row">
        <div class="col-md-8 mb-0 text-white-50">
        {# {{onedev.title}} est {{onedev.description|raw}}. Développé en {{onedev.Techno|upper }} Technologie (langage de programmation) du {{onedev.Datedesortie|date("d/m/Y")}}  #}
            <div id="carouselIndecators" >
                <ol class="carousel-indecators">
                {# {% for ondev in onedev %} #}
                    {# <li class="#cIndicators" data-slide-to="0" {% if loop.ondev %}class="active" {% endif %}></li> #}
                {# {% endfor %} #}
                </ol>
                <div class="carousel-inner" >
                    {% for im in onedev.posteurs %}
                        <div class="carousel-item {% if loop.first %} active {% endif %}">
                            <img class"d-none d-md-block w-10" src="/img/dev/{{im.photo}}" alt="{{im.caption}}">
                            <div class="">
                                <h5>{{onedev.Title}}</h5>
                                <p>{{im.caption}}</p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-3">
            <div class="row">
                <div class="col-8">
                   {% for inf in onedev %}
                        <img src="/img/user/{{inf.ph}}" alt="image" id="onepicture">
                        <span class="circle-spin"></span>
                        <p class="h5 float-start text-center bg-secondary">Moi, je m'appele {{inf.firstname|upper}} {{inf.lastname}} </p>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container text-danger">
    <div class="float-end m-1">
        {% include('complement/footer.html.twig') %}
    </div>
</div>
{% endblock %}
