{% extends 'base.html.twig' %}
{% block title %}
    {# {{dump(onedev.title)}} #}
    {{ad.title|upper}} {{ad.version}}
{% endblock %}
{% block body %}
<div class="one-dev" style="background-image: url( /img/dev/{{ ad.fichiers }} )">
    <div class="container">
    <div class="container">
        <h1>{{ad.Title|upper}}</h1>
        <p class"h2">{{ad.version}}</p>
        <a href="{{path('viewproject')}}" class="btn btn-primary">{{'Retour'}}</a>
    </div>
    </div>
</div>
<div class="container mt-3 text-body">
    <div class=" container row">
        <div class="col-md-8 mb-0 text-white-50">
        {{ad.title}} est {{ad.description|raw}}. Développé en {{ad.Techno|upper }} Technologie (langage de programmation) du {{ad.Datedesortie|date("d/m/Y")}} 
            <div id="carouselIndecators" >
                <ol class="carousel-indecators">
                    {# {% for posteur in ad.posteurs %}
                        <li class="#cIndicators" data-slide-to="{{loop.index0}}" {% if loop.posteur %} class="active" {% endif %}></li>
                    {% endfor %} #}
                </ol>
                <div class="carousel-inner" >
                    {% for posteur in ad.posteurs %}
                        {# <div class="carousel-item {% if loop.first %} active {% endif %}"> #}
                        <div class="carousel-item active ">
                            <img class"d-none d-md-block w-10" src="/img/dev/{{posteur.photo}}" alt="{{posteur.caption}}">
                            <div class="">
                                <h5>{{ad.Title}}</h5>
                                <p>{{posteur.caption}}</p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-3">
            <div class="row">
                <div class="col-8">
                   {% for inf in ad %}
                        <img src="/img/user/{{inf.ph}}" alt="image" id="onepicture">
                        <span class="circle-spin"></span>
                        <p class="h5 float-start text-center bg-secondary">Moi, je m'appele {{inf.firstname|upper}} {{inf.lastname}} </p>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container text-danger">
    <div class="float-end m-1">
        {% include('complement/footer.html.twig') %}
    </div>
</div>
{% endblock %}
