{% extends 'base.html.twig' %}
{% block head %}{% endblock head %}
{% block body %}
<div class="row " id="page">
    <div class="row card-body col-md-3 col-sx-8">
        <div class="float-start bg-dark col-md-4 col-sx-12">
            <div class="text-white">
                <img src="/img/user/{{app.user.ph}}" class="rounded" id="cv">
                <div class="text-center">
                    <p class="mt-2 fs-2 mb-2">{{app.user.firstname|upper}}</p><p class="text-white fs-2 mt-1">Lahiniriko <scale class="text-danger fs-2 text-float ">Mahaleo</scale></p>
                    <div class="text-uppercase mb-1 fs-4">
                        <p class="mb-0">génie logiciel</p>
                        <p class="mb-0">administateur de base des Données</p>
                        <p class="mb-0">redacteur web</p>
                        <p class="">téchnicien et maintenancier informatique</p>
                    </div>
                    <p class="fs-4">{{dat - 1991}} ans, deux enfants (02)</p>                
                </div>
                <div>
                    <p class="fs-1 text-center text-decoration-underline text-uppercase">à propos</p>
                    <p class="text-justify">Moi je suis né le 15 Mai 1991 à Ejeda - Ampanihy. Je me suis un pére Célibataire.J’ai étudié au Centre de Formation Professionnel Tsimbina Anosibe (CFP TIA) - ANTANANARIVE</p><p>Maintenant, je suis Ingénieur en Informatique dans le domaine de Génie logiciel et Administrateur de Base de Données. Titulaire d’un diplôme Programmeur et Analyste</p>
                    <div class="text-center">
                        <p class=" fs-1 text-uppercase text-decoration-underline">competence</p>
                        <p class="fs-3 text-uppercase text-decoration-underline">langage de programmation</p>
                        <div class="text-uppercase">
                            <p>angular js/javascript/jquery</p>
                            <p>hmtl5/bootstrap/css</p>
                            <p>delphi/pascal</p>
                            <p>php/symfony</p>
                            <p>visual basic</p>
                        </div>
                        <p  class="fs-3 text-uppercase text-decoration-underline">système d'exploitation</p>
                        <div class="text-uppercase">
                            <p>mac os x</p>
                            <p>linux/unix</p>
                            <p>os</p>
                            <p>vista</p>
                            <p>windows xp</p>
                            <p>windows serveur (2021/2008/2003)</p>
                        </div>
                        <p  class="fs-3 text-uppercase text-decoration-underline">statistique</p>
                        <div class="text-uppercase">
                            <p>matlab</p>
                            <p>scilab</p>
                        </div>
                        <p  class="fs-3 text-uppercase text-decoration-underline">contact</p>
                        <div class="col-ml-3 bg-dark" >
                            <div class="text-uppercase">
                                <p class="float-start">adress :</p>
                                <p class="">lot iiir 116 tsarafidy - ihosy</p>
                                <div class="d-block">
                                    <p class="float-start">Téléphone :</p>
                                    <div class=" card bg-dark ">
                                        <p>+261 33 23 662 68</p>
                                        <p>+261 34 29 534 49</p>
                                    </div> 
                                </div>                                          
                            </div>
                            <p  class="float-start text-uppercase">email :</p>
                            <div>
                                <link class="link">r9.rmjvi@gmail.com</link>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="float-end col-md-8 text-dark row mb-0 mt-0" id="corps">
            <p class="mt-0 fs-3 text-center text-uppercase fw-bold text-decoration-underline mb-1">diplôme</p>
            <p class="mb-0 mt-0 fs-5 text-center text-uppercase">Programmeur</p>
            <ul class="mb-0 mt-0"><li class="fw-bold float-start">2018 - 2017 :</li>Centre de Formation Professionnel Tsimbina Informatique Anosibe (CFP T.I.A-ANTANANARIVE)</ul>
            <p class="fs-5 text-center text-uppercase mb-0">analyste</p>
            <ul class="mb-0"><li class="fw-bold float-start">2018 - 2017 :</li>Centre de Formation Professionnel Tsimbina Informatique Anosibe (CFP T.I.A-ANTANANARIVE)</ul>
            <p class="mb-0">Système de Gestion des Base de Données (SGBD)</p>
            <p class="fs-5 text-center text-uppercase mb-0">diplôme de technicien superieur</p>
            <ul class="mb-0"><li class="fw-bold float-start">2018 - 2017 :</li>Institue Supérieur de Technologie ANTANANARIVE (IST-ANTANANARIVE)</ul>
            <p class="fs-5 text-center text-uppercase mb-0">baccalauréat</p>
            <ul class="mb-0"><li class="fw-bold float-start">2011 - 2012 :</li>Lycée d'Enseignement Général (AMBALAVAO)</ul>
            <p class="fs-5 text-center text-uppercase mb-0">Brévet d'étude de prémier cycle </p>
            <ul class="mb-0"><li class="fw-bold float-start">2007 - 2008 : </li>Collége d'Enseignement Général IHOSY</ul>
            <p class="fs-3 text-center text-uppercase fw-bold text-decoration-underline mb-1">experience professionnel</p>
            <h5 class=" text-center text-uppercase mb-0">gérant et responsable de société zara (z)</h5>
            <ul class="mb-0"><li class="fw-bold float-start">2018 - {{dat}} :</li>Projet déja réaliser:<a class="link text-decoration-none" href="https://github.com/ZrNarison"> https://github.com/ZrNarison</a></ul>
            <p class="mb-0 fs-4 text-center text-uppercase">journaliste redacteur web</p>
            <ul class="mb-0"><li class="fw-bold float-start ">2021 - {{dat}} :</li> <a href="https://eglisecatholique.mg/index.php?action=VoirDioceseDetails&id=47&slug=diocese-ihosy" class="text-decoration-none">Commussion Episcopale de Madagascar (CEM)</a></ul>
            <ul class="mb-0"><li class="fw-bold float-start">2021 - {{dat}} :</li><a href="https://www.radio-avec.com/fr/" class="text-decoration-none">Radio Audio-Visuel Expression Catholique (AVEC)</a></ul>
            <h5 class="fs-5 text-center text-uppercase">bénévole analyste</h5>
            <ul class="mb-0"><li class="fw-bold float-start">2015 - 2017 :</li> Centre Informatique Régional Ihorombe (C.I.R)</ul>
            <p class="mb-0 fs-5 text-center text-uppercase">technicien et maintenancier informatique</p>
            <table class="table table-striped table table-hover mb-0">
                <thead class="bg-dark text-white text-uppercase">
                    <tr class="text-center">
                        <th></th>
                        <th>Tribunal de Prémiere Instance ihosy</th>
                        <th>office Régional de Nutrition ihosy</th>
                        <th>radio avec ihosy</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="text-center">
                        <td>HardWare/SoftWare</td>
                        <td>2013 - {{dat}} </td>
                        <td>2015 - {{dat}} </td>
                        <td>2020 - {{dat}} </td>
                    </tr>
                </tbody>
            </table>
            <p class="mb-0 fs-4 text-center text-uppercase">formateur</p>
            <ul class=""><li class="fw-bold float-start">Décembre 2019 :</li>Bureautique avancée et NTIC (DRENETP Ihorombe)</ul>
            <ul class=""><li class="fw-bold float-start">2015 - 2016 :</li>Bureautique et bureautique avancée (TinoService Ihosy)</ul>
            <p class="fs-3 text-center text-uppercase fw-bold text-decoration-underline mb-1">connaissance linguistique</p>
            <table class="table table-striped table table-hover">
                <thead class="text-uppercase bg-dark text-white">
                    <th>langue</th>
                    <th class="text-center">compréhension</th>
                    <th class="text-center">écrite</th>
                    <th class="text-center">orale</th>
                </thead>
                <tbody class="text-uppercase">
                    <td class="fw-bold">Malagasy</td>
                    <td></td>
                    <td class="float-none">Language maternelle</td>
                    <td></td>
                </tbody>
                <tbody class="text-uppercase">
                    <td class="fw-bold">français</td>
                    <td class="text-center">Bien</td>
                    <td class="text-center">Bien</td>
                    <td class="text-center">Bien</td>
                </tbody>
                <tbody class="text-uppercase">
                    <td class="fw-bold">anglais</td>
                    <td class="text-center">Bien</td>
                    <td class="text-center">Assez-bien</td>
                    <td class="text-center">Moyenne</td>
                </tbody>                         
            </table>
            <p class="fs-3 text-center text-uppercase fw-bold text-decoration-underline mb-1">connaissance linguistique</p>
            <table class="table table-striped table table-hover">
                <thead class="text-uppercase bg-dark text-white">
                    <th class="text-center">sport</th>
                    <th class="text-center">loisirs</th>
                    <th class="text-center">qualités</th>
                </thead>
                <tbody class="text-justify">
                    <tr>
                        <td> 
                            <h6>Football,Basketball</h6>
                        </td>
                        <td>
                            <h6>lire,Musique,Jeux vidéo,Film</h6>
                        </td>
                        <td>
                            <h6>Automne,Sens de travail en équipe,Jeux vidéo,Dynamique, passion de l’informatique permettant une adaptation rapide aux situations nouvelles,Bonne condition physique, apte à déplacer en brousse</h6>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
{% block footer %}{% endblock %}